In [1]:
print ('Hello World')

Hello World

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [15]:
import seaborn as sns

In [4]:
a=5
b=7

In [5]:
a+b

12

In [9]:
print(type(a))

<class 'int'>

In [10]:
print(type(x))

<class 'range'>

In [13]:
print(x)

range(0, 10)

In [23]:
x=int(input('Enter a number to know if it is leess than or greater than 5: '))
if (x<5):
    print('Less than 5')
else:
    print('More than 5')

Enter a number to know if it is leess than or greater than 5: 6
More than 5

In [36]:
fruits=['apple','banana','cherry']

In [30]:
print(fruits)

['apple', 'banana', 'cherry']

In [33]:
print(type(fruits))

<class 'list'>

In [47]:
fruit=fruits[0:2]

In [48]:
fruit

['apple', 'banana']

In [51]:
x=int(input('Enter a number:'))
print('Sum of first ',x,' natural numbers is ',x*(x+1)/2)

Enter a number:8
Sum of first  8  natural numbers is  36.0

In [52]:
x=float(input('Enter your height in foots:'))
print('Your height in inches is ',12*x,' and in centimeters is ',12*2.54*x)

Enter your height in foots:6
Your height in inches is  72.0  and in centimeters is  182.88

In [54]:
x=float(input('Enter your age to convert it in dog years:'))
if x<0:
    print('Enter valid values.')
if x<2:
    print("Your age is ",x*10.5,' dog  years')
else:
    print('Your age is ',21+((x-4)*4),' dog years')

Enter your age to convert it in dog years:6
Your age is  50.0  dog years

In [55]:
x=input("Enter the month to get number of days in it:")
y=['January','March','May','July','August','October','December']
z=['April','June','September','November']
if x in y:
    print('31 days.')
elif x in z:
    print('30 days.')
elif x=='February':
    print('28 or 29 days')
else :
    print('Enter valid month')

Enter the month to get number of days in it:January
31 days.

In [56]:
x=int(input("Enter the month number to get number of days in it:"))
if x<8:
    if x%2==1:
        print('31 days')
    elif x==2:
        print('28 days')
    else:
        print('30 days')
else:
    if x%2==0:
        print('31 days')
    else :
        print('30 days')

Enter the month number to get number of days in it:8
31 days

In [61]:
months={'January':'31 days',
       'February':'28 days',
       'March': '31 days',
       'April': '30 days',
       'May':'31 days',
       'June':'30 days',
       'July':'31 days',
       'August':'31 days',
       'September':'30 days',
       'October':'31 days',
       'November':'30 days',
       'December':'31 days'}
x=input("Enter the month to get number of days in it:")
if x in months:
    print(months[x])
else :
    print('Enter valid month')

Enter the month to get number of days in it:April
30 days

In [63]:
x=''
for i in range(3):
    x=x+input('Enter something:')
print(x)

Enter something:Hi
Enter something:I am
Enter something:Harsh
Hi I am Harsh

In [67]:
x=5
y=' cm'
str(x)+y

'5 cm'

In [68]:
t=['abc',5,6.9]
t*2

['abc', 5, 6.9, 'abc', 5, 6.9]

In [69]:
t2=[234,'234']
t2+t

[234, '234', 'abc', 5, 6.9]

In [72]:
import random
print(random.randint(0,10))

6

In [105]:
exp=[]
for i in range(0,10):
    e=random.randint(0,10)
    exp.append(e)
mean=0
for i in exp:
    mean+=i
mean/=len(exp)
exp.sort()
ind=len(exp)//2
print('Mean is ',mean,', median is ',(exp[ind]+exp[ind-1])/2)

Mean is  5.3 , median is  4.0

In [108]:
import statistics as st

In [109]:
print("Mean is ",st.mean(exp),', median is ',st.median(exp),' and mode is ',st.mode(exp))

Mean is  5.3 , median is  4.0  and mode is  10

In [113]:
x=input("Enter the location of the cell:")
l1=['a','c','e','g']
l2=['b','d','f','h']
if (x[0] in l1):
    if(int(x[1])%2==0):
        print('White')
    else:
        print('Black')
elif (x[0] in l2):
    if(int(x[1])%2==1):
        print('White')
    else:
        print('Black')
else:
    print('Error')

Enter the location of the cell:a2
White

In [118]:
print('Max:',exp[-1])
print('Min:',exp[0])
print('Q1:',statistics.median(exp[0:5]))
print('Q2:',statistics.median(exp))
print('Q3:',statistics.median(exp[5:]))
print('IQR:',statistics.median(exp[5:])-statistics.median(exp[0:5]))

Max: 10
Min: 1
Q1: 2
Q2: 4.0
Q3: 10
IQR: 8

In [117]:
exp

[1, 1, 2, 3, 4, 4, 8, 10, 10, 10]

In [123]:
y=x%10
x=int(input("Enter the location of the cell:"))
x=x//10
if (x%2==y%2):
    print("White")
else:
    print("Black")

Enter the location of the cell:12
White 1 1